@theme {
  /* ********************** Using Default Tailwind Animations ********************** */
  --animate-bounceFast: bounce 0.5s infinite;

  /* ********************** Custom Animations ********************** */

  /*
    Overshoot Animations
    Element slides in with a bounce overshoot effect.
  */

  --animate-overshootLeft-5: overshootLeft-5 1s ease-out;
  @keyframes overshootLeft-5 {
    0% {
      opacity: 0;
      transform: translateX(75%);
    }
    80% {
      transform: translateX(5%);
    }
    100% {
      opacity: 100%;
      transform: translateX(0);
    }
  }

  --animate-overshootRight-5: overshootRight-5 1s ease-out;
  @keyframes overshootRight-5 {
    0% {
      opacity: 0;
      transform: translateX(-75%);
    }
    80% {
      transform: translateX(5%);
    }
    100% {
      opacity: 100%;
      transform: translateX(0);
    }
  }

  --animate-overshootLeft-2: overshootLeft-2 0.8s ease-out;
  @keyframes overshootLeft-2 {
    0% {
      opacity: 0;
      transform: translateX(75%);
    }
    80% {
      transform: translateX(-2%);
    }
    100% {
      opacity: 100%;
      transform: translateX(0);
    }
  }

  --animate-overshootRight-2: overshootRight-2 0.8s ease-out;
  @keyframes overshootRight-2 {
    0% {
      opacity: 0;
      transform: translateX(-75%);
    }
    80% {
      transform: translateX(2%);
    }
    100% {
      opacity: 100%;
      transform: translateX(0);
    }
  }

  /*
    Rubberband Animation
    Element vibrates with a rubberband effect.
  */
  --animate-rubberband: rubberband 0.8s ease-out;
  @keyframes rubberband {
    0% {
      transform: scale(1);
    }
    40% {
      transform: scaleX(1.12) scaleY(0.75);
    }
    55% {
      transform: scaleX(0.85) scaleY(1);
    }
    65% {
      transform: scaleX(1.09) scaleY(0.85);
    }
    75% {
      transform: scaleX(0.9) scaleY(1);
    }
    90% {
      transform: scaleX(1.05) scaleY(0.95);
    }
  }
}
