@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-*: initial;
  --font-main: Open Sans, sans-serif;
  --font-hero: Saira Extra Condensed, cursive, serif;

  --animate-bounceLeft: bounceLeft 1s ease-out;
  --animate-bounceRight: bounceRight 1s ease-out;
  --animate-slideLeft: slideLeft 0.8s ease-out;
  --animate-slideRight: slideRight 0.8s ease-out;
  --animate-slideTop: slideTop 1s ease-out;
  --animate-rubberband: rubberband 0.8s ease-out;
  --animate-bounceFast: bounce 0.5s infinite;

  --border-width-6: 6px;

  --color-primary-200: hsl(17, 80%, 80%);
  --color-primary-400: hsl(17, 80%, 60%);
  --color-primary-500: hsl(17, 70%, 60%);
  --color-primary-600: hsl(17, 54%, 48%);
  --color-primary-700: hsl(17, 54%, 43%);
  --color-primary-800: hsl(17, 54%, 35%);

  --height-screen: 100dvh;

  --breakpoint-xs: 400px;

  --z-index-selectMenu: 60;
  --z-index-toTopBtn: 70;
  --z-index-footer: 71;
  --z-index-sidebarContainer: 80;
  --z-index-mainBtns: 81;

  @keyframes bounceLeft {
    0% {
      opacity: 0;
      transform: translateX(-50%);
    }
    80% {
      transform: translateX(1%);
    }
    100% {
      opacity: 100%;
      transform: translateX(0);
    }
  }
  @keyframes bounceRight {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    80% {
      transform: translateX(5%);
    }
    100% {
      opacity: 100%;
      transform: translateX(0);
    }
  }
  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(75%);
    }
    80% {
      transform: translateX(-2%);
    }
    100% {
      opacity: 100%;
      transform: translateX(0);
    }
  }
  @keyframes slideRight {
    0% {
      opacity: 0;
      transform: translateX(-75%);
    }
    80% {
      transform: translateX(2%);
    }
    100% {
      opacity: 100%;
      transform: translateX(0);
    }
  }
  @keyframes slideTop {
    0% {
      opacity: 0;
      transform: translateY(40%);
    }
    80% {
      transform: translateY(-2%);
    }
    100% {
      opacity: 100%;
      transform: translateY(0);
    }
  }
  @keyframes rubberband {
    0% {
      transform: scale(1);
    }
    40% {
      transform: scaleX(1.12) scaleY(0.75);
    }
    55% {
      transform: scaleX(0.85) scaleY(1);
    }
    65% {
      transform: scaleX(1.09) scaleY(0.85);
    }
    75% {
      transform: scaleX(0.9) scaleY(1);
    }
    90% {
      transform: scaleX(1.05) scaleY(0.95);
    }
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-gray-50 dark:bg-gray-900 font-main text-base text-slate-500 dark:text-gray-200 transition-colors duration-300 selection:bg-primary-500 dark:selection:bg-primary-800 selection:text-gray-50;
  }

  span {
    @apply inline-block;
  }

  ::-webkit-scrollbar {
    @apply w-1.5 bg-gray-50;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-primary-600;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-600/70;
  }
}

@layer components {
  /* Title Attributes */
  [data-title-top],
  [data-title-bottom] {
    @apply relative;
  }

  [data-title-top]:after,
  [data-title-bottom]:after {
    @apply absolute z-99 px-2 py-1 rounded-md shadow-[0_0_4px_#333] opacity-0 invisible bg-gray-50;
    @apply text-slate-900 text-center whitespace-nowrap;
  }
  [data-title-top]:after {
    content: attr(data-title-top);
    @apply -top-9 left-[75%];
  }
  [data-title-bottom]:after {
    content: attr(data-title-bottom);
    @apply -bottom-8 left-[90%] scale-90;
  }

  [data-title-top]:hover:after,
  [data-title-bottom]:hover:after {
    @apply opacity-100 visible;
  }
}
