@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {
  body {
    @apply font-main;
  }
  /*
  [data-title] {
    position: relative;
  }
  [data-title]:after {
    content: attr(data-title);
    position: absolute;
    left: 100%;
    bottom: -1.6em;
    background-color: #00ff00;
    z-index: 99999;

    padding: 1px 5px 2px 5px;
    border: 1px solid #111;
    box-shadow: 1px 1px 3px #222;

    font-size: 150%;
    color: #111;
    white-space: nowrap;

    visibility: hidden;
    opacity: 0;
  }
  [data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
  }*/

  [data-title] {
    @apply relative;
  }
  [data-title]:after {
    content: attr(data-title);
    @apply absolute left-[90%] -bottom-8 z-[99] px-2 py-1 rounded-md shadow-[0_0_4px_#222] opacity-0 invisible transition-all duration-300;
    @apply text-slate-900 text-center whitespace-nowrap;
    backdrop-filter: blur(3px);
  }
  [data-title]:hover:after {
    @apply opacity-100 visible;
  }
}
