@import 'tailwindcss';

@import './library/tailwind';

/* Now instead of dark:* utilities being applied based on prefers-color-scheme */
/* They will be applied whenever the dark class is present earlier in the HTML tree */
@custom-variant dark (&:is(.dark *));

@theme {
  /*
    Theme Variables
    - Theme variables are special CSS variables, that influence which utility classes exist in your project.
  */

  /* Font Families */
  --font-main: var(--font-open-sans);
  --font-headlines: var(--font-saira);

  /* Colors */
  --color-primary-200: var(--color-rust-200);
  --color-primary-400: var(--color-rust-400);
  --color-primary-500: var(--color-rust-500);
  --color-primary-600: var(--color-rust-600);
  --color-primary-700: var(--color-rust-700);
  --color-primary-800: var(--color-rust-800);

  /* Z-Index */
  --z-index-selectMenu: 60;
  --z-index-toTopBtn: 70;
  --z-index-footer: 71;
  --z-index-sidebarContainer: 80;
  --z-index-mainBtns: 81;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  body {
    @apply bg-gray-50 dark:bg-gray-900 font-main text-base text-slate-500 dark:text-gray-200 transition-colors duration-300 selection:bg-primary-500 dark:selection:bg-primary-800 selection:text-gray-50;
  }

  ::-webkit-scrollbar {
    @apply w-1.5 bg-gray-50;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-primary-600;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-600/70;
  }
}

@layer components {
  /* Title Attributes */
  [data-title-top],
  [data-title-bottom] {
    @apply relative;
  }

  [data-title-top]:after,
  [data-title-bottom]:after {
    @apply absolute z-99 px-2 py-1 rounded-md shadow-[0_0_4px_#333] opacity-0 invisible bg-gray-50;
    @apply text-slate-900 text-center whitespace-nowrap;
  }
  [data-title-top]:after {
    content: attr(data-title-top);
    @apply -top-9 left-[75%];
  }
  [data-title-bottom]:after {
    content: attr(data-title-bottom);
    @apply -bottom-8 left-[90%] scale-90;
  }

  [data-title-top]:hover:after,
  [data-title-bottom]:hover:after {
    @apply opacity-100 visible;
  }
}
